.section-first {

    height: 100vh;
    position:relative;
    width:100%;
    margin: auto;
    text-align: center;
}

.section-first::before
{
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background: url(../img/background-page.jpg) no-repeat center fixed;
    opacity: .5;
}

.title__Page--welcome {
    color: #000;
}

/*----------------------
  $NAVBAR
    basic navbar styling
  ----------------------*/

/*----------------------
  NAV
  ----------------------*/


.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
    position: relative;
    background-color: #2c3e50;
}
.menu li {
    float: left;
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.menu a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-size: 18px;
    z-index: 9;
}
a.active {
    background-color: #e74c3c;
    pointer-events: none;
}
li.slider {
    width: 25%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #e74c3c;
    transition: left 0.4s, background-color 0.4s;
}
.menu li:nth-child(1):hover ~ .slider,
.menu li:nth-child(1):focus ~ .slider,
.menu li:nth-child(1):active ~ .slider {
    left: 0;
    background-color: #3498db;
}
.menu li:nth-child(2):hover ~ .slider,
.menu li:nth-child(2):focus ~ .slider,
.menu li:nth-child(2):active ~ .slider {
    left: 25%;
    background-color: #9b59b6;
}
.menu li:nth-child(3):hover ~ .slider,
.menu li:nth-child(3):focus ~ .slider,
.menu li:nth-child(3):active ~ .slider {
    left: 50%;
    background-color: #e67e22;
}
.menu li:nth-child(4):hover ~ .slider,
.menu li:nth-child(4):focus ~ .slider,
.menu li:nth-child(4):active ~ .slider {
    left: 75%;
    background-color: #16a085;
}

/*----------------------
  PAGE RESTAURANT
  ----------------------*/

select {

    display: inline-block;
}

#faimfonybundle_restaurant_name, #faimfonybundle_restaurant_address, #faimfonybundle_restaurant_phone {
    margin:auto;
}


.inline_time {
    display: inline-block;
}
#faimfonybundle_user input{
    margin:auto;
}
.button {
    margin-top:10px;
}
