{% extends "FaimfonyBundle:Default:layout.html.twig" %}

{% block content %}

        <div class="row">
            <h2 class="page-header text-center">Connexion/Inscription</h2>
        </div>
        <div class="row">

            <div class="col-xs-12 col-md-6">
                <h3>J'ai déjà un compte !</h3>
                {% include ":FOSUserBundle/views/Security:login.html.twig" %}
            </div>
            <div class="col-xs-12 col-md-6">
                <h3>Je veux créer mon compte !</h3>
                {{ form_start(login_form) }}
                {{ form_widget(login_form) }}
                <button type="submit" class="btn btn-primary">Inscription</button>
                {{ form_end(login_form) }}
            </div>

        </div>

{% endblock %}
