{% extends "FaimfonyBundle:Default:layout.html.twig" %}

{% block header %}

{% endblock %}

{% block content %}


    <h1 class="page-header">Bienvenue sur Faimfony !</h1>


    <a href="{{ path('register_form') }}" class="btn btn-danger btn-lg btn-block">Se connecter</a>

{% endblock %}
